#root {
  height: 100vh;
  min-height: 100%;
}
.App {
  height: max-content;
  min-height: 100%;
  padding-top: 2rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* fighting semantic-ui styles */
.ui.stackable.celled.grid > .row > .column.column-override {
  padding: 6px !important;
}

.ui.segment.game-segment:hover {
  text-decoration: underline;
}

.card-guessed {
  position: relative;
}

.card-guessed::before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 25%;
  border-bottom: 2px solid black;
  width: 50%;
}
